*,
*::before,
*::after {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  flex-direction: column;
}

.projectContainer {
  display: flex;
  flex-direction: column;
}

.delete-task,
.delete-project {
  width: max-content;
}
